{% extends 'layout.html' %}
{% load static %}


{% block profile %}

    <div class="card mt-3">
        <img src="{% static 'photo.png' %}" class="img-fluid">
        <div class="card-body">
            <h5 class="card-title">Hello world.</h5>
            <p class="card-text">ทวีวัฒน์ บานฤทัย ครูผู้ช่วย สอนที่โรงเรียนบ้านเซียมป่าหม้อ อำเภอแก้งคร้อ จังหวัดชัยภูมิ</p>
        </div>
        <div class="card-body">
            <a href="#" class="card-link">เพิ่มเติม</a>
        </div>
    </div>

{% endblock %}

{% block content %}

<div class="col-md-9 ">
    <div class="container-fluid ">
        <div class="row">
            {% for blog in blogs %}
                <div class="card mb-3 mt-3 more">
                    <div class="row g-0">
                        <div class="col-md-4 pt-2">
                            <a href="{{ blog.get_url }}"><img src="{{ blog.images.url}}" class="img-fluid " alt="..."></a>
                        </div>
                        <div class="col-md-8 " style="max-width: 600px;max-height: 250px;overflow:hidden">
                            <div class="card-body">
                            <h5 class="card-title">{{ blog.name }} <span class="badge bg-success">{{ blog.grade}}</span></h5>
                            <a href="{{ blog.get_url }}" class="text-dark text-decoration-none"><p class="card-text">{{ blog.description}}</p></a>
                            <p class="card-text"><small class="text-muted">Last {{ blog.create }}</small></p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="text-success ps-2" > by {{  blog.writer }} | views :: {{ blog.views }}</p>
                        </div>
                    </div>
                </div>	
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}