{% extends 'layout.html' %}
{% load static %}


{% block content %}
<div class="col-md-9 ">
    <div class="container-fluid ">
        <div class="row">
            {% for blogs in search %}
            <div class="card" id="cardclick">
                <div class="row g-0 ">
                  <div class="col-md-4">
                    <a href="{% url 'blogdetail' blogs.id %}" ><img src="{{ blogs.images.url}}" class="img-fluid rounded-start" alt="..."></a>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body " style="max-height: 300px;overflow:hidden">
                      <a href="#" class="text-decoration-none text-dark" ><h5 class="card-title">{{ blogs.name }}</h5></a>
                      <a href="#" class="text-decoration-none text-dark"><p class="card-text">{{ blogs.description}}</p></a>
                      <p class="card-text"><small class="text-muted"></small></p>
                    </div> 
                  </div>
                  <div class=" col-md-4 footer ">
                  </div>
                  <div class=" col-md-8 footer ">
                      <p class="ms-3" >by {{blogs.writer}} // {{blogs.create}}</p>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}